<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <a href="/umbrella">Umbrella</a>
  <a href="/message">Single AI message</a>
  <a href="/chat">AI Chat</a>

  <body>
    <%= yield %>
  </body>
</html>
